<div class="container">
  <!-- <app-register-form *ngIf="modalType === 'register'"></app-register-form> -->


  <!-- <app-register-form *ngIf="modalType === 'login'"></app-register-form> -->

    <div class="button-box">
      <button class="btn-green" (click)="openModal('login')">Zaloguj się</button>
      <button class="btn-green-invert" (click)="openModal('register')">Zarejestruj się</button>
    </div>

    <div *ngIf="modalType === 'register'">
      <!-- <form class="form" (ngSubmit)="onSubmit()" #formRef="ngForm" *ngIf="showModal"> -->
      <form class="form" #formRef="ngForm" *ngIf="showModal">
          <h2>Zarejestruj się</h2>
      
        <input
          type="text"
          placeholder="Imię"
          [(ngModel)]="registrationData.firstName"
          name="firstName"
          required
        />
      
        <input
          type="text"
          placeholder="Nazwisko"
          [(ngModel)]="registrationData.lastName"
          name="lastName"
          required
        />
      
        <input
          type="email"
          placeholder="Email"
          [(ngModel)]="registrationData.email"
          name="email"
          required
        />
      
        <input
          type="password"
          placeholder="Hasło"
          [(ngModel)]="registrationData.password"
          name="password"
          required
        />

        <input
          type="date"
          placeholder="Data urodzenia"
          [(ngModel)]="registrationData.birthDate"
          name="birthDate"
          required
        />
      
        <button (click)="onSubmit()" class="btn-red" type="submit" [disabled]="formRef.invalid">Zarejestruj się</button>
        <button (click)="closeModal()" class="btn-green" type="button" [disabled]="formRef.invalid">Anuluj</button>
      </form>

    </div>


    <div *ngIf="modalType === 'login'">
      <form class="form" (ngSubmit)="onSubmit()" #formRef="ngForm" *ngIf="showModal">
        <h2>Zaloguj się</h2>
        <input
          type="email"
          placeholder="Email"
          [(ngModel)]="registrationData.email"
          name="email"
          required
        />
      
        <input
          type="password"
          placeholder="Hasło"
          [(ngModel)]="registrationData.password"
          name="password"
          required
        />
      
        <button (click)="onSubmit()" class="btn-green" type="submit" [disabled]="formRef.invalid">Zaloguj się</button>
        <button (click)="closeModal()" class="btn-red" type="button" [disabled]="formRef.invalid">Anuluj</button>
      </form>

    </div>




  </div>
  ssss







